@use "../../App.scss" as *;

.card {
  width: 350px;
  height: 228px;
  background: #fff;
  border-radius: 6px;
  position: relative;
  padding: 49px 32px 32px 32px;
  &__icon {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 32px;
    top: -25px;
  }

  &__country {
    color: $accent-color;
    font-weight: 700;
  }

  &__company {
    margin-bottom: 40px;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 12px;

    margin-bottom: 13px;
  }

  &__title {
    margin-bottom: 12px;
  }
}

.dark {
  background: $middle-grey;
}

.dark h2 {
  color: #fff;
}

.light {
  background: #fff;
}
