@use "../../../styles/globals.scss" as *;

.btn {
  width: 100%;
  max-width: 141px;
  background: $violet;
  color: $white;
  padding: 16px;
  border-radius: 5px;
  font-weight: 700;
}

.added {
  background: $btn-bg-color;
}
