@use "../../../styles/utils/index.scss" as *;

$button-secondary-bg: light-dark(#c9c9c9, $very-dark-blue);
$button-secondary-hover-bg: light-dark($light-violet, $gray);

.button {
  display: block;
  width: 100%;
  max-width: 141px;
  color: $white;
  padding: 16px;
  border-radius: 5px;
  font-weight: 700;
}
