@use "./mixins" as *;
@use "./variables" as *;

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

* {
  transition: all 0.4s ease;
}

body {
  min-height: 100vh;
  background-color: $body-bg-color;

  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;

  @include flex-center; // Property will be removed later
  // background: $violet; // Property will be removed later
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  cursor: pointer;
}
